<html>
<head>
<meta charset="utf-8">
<title>Student Management System</title>
</head>
<font color="#A6ACAF" size="5"> </font>
<body
	background="https://i.pinimg.com/originals/d7/59/b5/d759b559ad669f9e199f1aaaa381a8ab.jpg"
	link="white" alink="blue" vlink="#F8F8FF">
	<br />

	<font face="cinzel" size="4"> <a href="#">HOME||</a> <a
		href="registration">REGISTER||</a> <a href="students">STUDENT||</a> <a
		href="courses">COURSE||</a><a href="exam">QUIZ||</a> <a href="#">ABOUT US</a>
	</font>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<h1 align="center">
		<font color="#F8F8FF" size="9"> Student Management System<br />
<br>
			<form class="welcomeButton" action="teacherlogin" method="get">
				<button type="submit" class="btn btn-light">Teacher</button>
			</form>

			<form class="welcomeButton" action="studentlogin" method="get">
				<button type="submit" class="btn btn-dark">Student</button>
			</form>

		</font>

	</h1>
</body>
</html>

