<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login-Page</title>



<!--    BootStrap Links-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<form action="login" method="post">
			<label>Email address</label> <input type="email" class="form-control"
				name="email" aria-describedby="emailHelp" required autofocus>
			<label>Password</label> <input type="password" class="form-control"
				name="password" required>
			<<a th:href="@{/homepage}" button type="submit" class="btn btn-primary">Submit</button></a>
		</form>
	</div>
</body>
</html>